# Font Awesome Free can be committed to git (open source license)
# Files should be downloaded from https://fontawesome.com/download
# and placed in wwwroot/lib/fontawesome/ directory

# Keep setup instructions
!.gitignore
!FONTAWESOME_SETUP.md
